/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Archivo+Narrow:wght@400;500;600;700&family=Dancing+Script:wght@700&display=swap");

/*
FF9B6A
#88e0ef;
#ff5151;
#161e54;
*/

/* General style */
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ff9c6a4f;
  font-family: "Archivo Narrow", sans-serif;
  color: #161e54;
}

a {
  text-decoration: none;
  color: #ff5151;
}

ul {
  list-style: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  position: absolute;
  width: 100vw;
  box-sizing: border-box;
}

ul {
  display: flex;
}

li {
  margin-left: 30px;
  font-size: 20px;
}

#logo {
  color: #ff5151;
  font-family: "Dancing Script", cursive;
  font-weight: bold;
  font-size: 50px;
  text-shadow: 3px 3px 15px rgba(1, 83, 72, 0.3);
}

#logo:hover {
  filter: brightness(1.5);
}

#hero {
  height: 100vh;
  background-image: url("/assets/images/bg-hero.jpg");
  background-size: cover;
  background-position: center;
}

#hero-content {
  width: 500px;
  background-color: #ff9c6a23;
  box-shadow: 2px 4px 8px #161e5493;
  text-align: center;
  border-radius: 10px;
  padding: 50px 0;
  margin: 0 auto;
  font-size: 20px;
  position: relative;
  top: 35%;
  color: #161e54;
}

#hero-content h1 {
  font-size: 50px;
}

#hero-content a {
  display: inline-block;
  background-color: #161e54;
  border-radius: 5px;
  padding: 10px 15px;
  margin-top: 20px;
}

#hero-content a:hover {
  filter: brightness(1.5);
}

main {
  width: 100vw;
  box-sizing: border-box;
}

#highlights h2 {
  text-align: center;
  font-size: 40px;
  margin: 24px 0;
}

#destinations {
  display: flex;
  justify-content: center;
  width: 90%;
  margin: auto;
  margin-bottom: 40px;
}

.destination {
  margin: 0 20px;
  text-transform: uppercase;
}

.destination img {
  width: 100%;
  height: 200px;
  box-shadow: 2px 4px 8px #161e5493;
  border-radius: 10px;
  object-fit: cover;
}

.destination p {
  text-align: center;
  font-size: 24px;
  color: rgba(123, 123, 123);
}

.destination strong {
  color: #88e0ef;
}
